<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668829773719-a58917md9ur21etl892mhcpfhhcs96pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668829773719-a58917md9ur21etl892mhcpfhhcs96pl</string>
	<key>API_KEY</key>
	<string>AIzaSyD4N0pT9GiJzkNmN8F-yg1JoQWIqO2Sja8</string>
	<key>GCM_SENDER_ID</key>
	<string>668829773719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proximity</string>
	<key>PROJECT_ID</key>
	<string>proximity-f79fb</string>
	<key>STORAGE_BUCKET</key>
	<string>proximity-f79fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668829773719:ios:48793e392fd8dea8729ed2</string>
	<key>DATABASE_URL</key>
	<string>https://proximity-f79fb.firebaseio.com</string>
</dict>
</plist>